html * {
    margin: 0;
    padding: 0;
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
body {
    background: #E7D8BD;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}
#header {
	padding: 2em 1em 2em 1em;
	margin-bottom: 1em;
}
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 80em;
	height: 20em;
	vertical-align: top;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}
.body {
    margin: 20pt;
}
a.header-main:link, a.header-main:visited {
	font-size: 3em;
	font-weight: bold;
}
#search {
	margin: 2em 1em;
}
#loginHeader {
	float: right;
}
input#snippet{
    width: 80em;
    height: 20em;
    vertical-align: top;
}

/* NAVIGATION MENU */

.nav {
    background: #C4A97A;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}
.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    line-height: 16px;
    padding-left: 30px;
}
td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
.asc a, .desc a {
    background-position: right;
    background-repeat: no-repeat;
}
.asc a {
}
.desc a {
}
.odd {
    background: #E7E5BD;
}
.even {
    background: #E3BABE;
}

/* LIST */



/* PAGINATION */

.paginateButtons {
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}
.prop .name {
    text-align: left;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    background: #E7E5BD;
}
.codelist {
    margin: 20pt;
    border: solid 5pt #64738B;
    /* CSS3 */
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 5pt / 5pt;
}
.codelist .head {
    background: #546681;
}
.codelist .head a:hover {
    color: #eee;
    text-decoration: underline;
}
.codelist .head a{
    color: #aaa;
    font-size: 16pt;
}
.code {
    font-size: 10pt;
}

.minus_line {
    background: #E3BABE;
}
.plus_line {
    background: #A1AEC0;
}

/* ACTION BUTTONS */

.buttons {
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}
.buttons input {
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

