html * {
    margin: 0;
    padding: 0;
    font: 10pt verdana, arial, helvetica, sans-serif;
    overflow: hidden;
}

/* GENERAL */

#header {
    border: #546681 solid 1pt;
    background: #546681;
    border-radius: 20pt / 20pt;
    background: -moz-linear-gradient(#A1AEC0, #546681);
    background: -webkit-gradient(linear, left top, left bottom, from(#A1AEC0), to(#546681)); 
    width: 200pt;
    margin: 40pt auto;
}
#header a {
    color: #eee;
    text-decoration: none;
}
#header a:hover {
    color: #ccc;
}
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.clear {
    clear: both;
}
h1 {
    text-align: center;
    font-size: 32pt;
}
h2, h2 * {
    font-size: 16pt;
}
h3, h3 * {
    font-size: 12pt;
}
body {
    background: #D2BA91;
    overflow: auto;
}
input[type="text"], input[type="password"], textarea {
    border: 1px solid #777;
    background-color: #f2f2f2;
    font: 14px verdana, arial, helvetica, sans-serif;
}
textarea {
    overflow: auto;
}
.snippet .body textarea {
    width: 778pt;
    height: 200pt;
    vertical-align: top;
}
.comment form {
    padding: 10pt;
}
.comment .body textarea, .comment form textarea {
    width: 378pt;
    height: 200pt;
    vertical-align: top;
}

a, a:link {
    color: #546681;
}
ul, li {
    margin-left: 10pt;
}
/* NAVIGATION MENU */

.nav {
    border-bottom: 1pt #E7D8BD solid;
    background: #C4A97A;
    padding: 2pt 8pt;
}
.nav * {
    font-size: 12pt;
}
.nav div {
    margin: 0 2pt;
}
.menuButton {
    padding: 0 2pt;
}
.menuButton a {
    color: #333;
    padding: 2pt 3pt;
    padding-left: 12pt;
}

/* MESSAGES AND ERRORS */
.message {
    border: 1px solid #b2d1ff;
    border-radius: 10pt / 10pt;
    color: #006dba;
    background-color: #fff;
    padding: 5pt;
    margin: 20pt;
    width: 200pt;
    overflow: hidden;
}
div.errors {
    border: 1px solid red;
    color: #cc0000;
    border-radius: 10pt / 10pt;
    background-color: #fff;
}
div.errors ul {
    list-style: none;
}
select.errors, input.errors, textarea.errors {
    border: 1px solid red;
}

/* PAGINATION */

.paginateButtons {
    text-align: center;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2pt;
}

/* ACTION BUTTONS */

.buttons {
    margin: 4pt;
}

/*  */

.user, .snippet, .comment{
    box-shadow: 2pt 2pt 2pt 2pt rgba(0,0,0,0.2);
    border-radius: 10pt / 10pt;
    padding: 10pt;
    background-color: #fff;
}
.user {
    margin: 20pt auto;
    width: 600pt;
    border: solid 3pt #546681;
}
.snippet {
    margin: 20pt auto;
    width: 800pt;
    border: solid 3pt #D2CF91;
}
.comment {
    margin: 10pt auto;
    width: 400pt;
    border: solid 3pt #CB8D93;
}
.snippet .header input[type="text"] {
    font-size: 16pt; 
}
.header, .body {
    padding: 10pt;
}
.user .header {
    border-bottom: solid 1pt #546681;
    border-right: solid 1pt #546681;
    background-color: #97A8C0;
}
.snippet .header {
    border-bottom: solid 1pt #C4C07A;
    border-right: solid 1pt #C4C07A;
    background-color: #E7E4B0;
}
.snippet .footer {
    border-top: solid 1pt #C4C07A;
    margin-top: 20pt;
}
.comment .header {
    border-bottom: solid 1pt #BD767D;
    border-right: solid 1pt #BD767D;
    background-color: #E3ADB2;
}
.body {
    overflow: auto;
}
.list .body {
    overflow: hidden;
}
.tags {
    padding: 10pt;
}
.tag {
    color: #333;
    font-size: 11pt;
}
