html * {
    margin: 0;
    padding: 0;
    font: 10pt verdana, arial, helvetica, sans-serif;
}
/* GENERAL */
body { background: #E7E5BD; }
input[type="text"], input[type="password"], textarea {
    border: 1px solid #777;
    background-color: #f2f2f2;
    font: 12pt verdana, arial, helvetica, sans-serif;
}
a, a:link { color: #64738B; }
#header {
    border-bottom: 1pt #BD767D solid;
    background: #CB8D93;
    padding: 0 80pt;
    height: 45pt;
}
#header h1 {
    height: 24pt;
    margin-top: 8pt;
    float: left;
    padding: 8pt;
}
#header h1 a {
    font-size: 24pt;
    text-decoration: none;
}
#nav {
    height: 15pt;
    margin-top: 30pt;
    text-align: right;
    float: right;
}
#nav ul { list-style-type: none; }
#nav ul li {
    padding: 0 5pt;
    float:left;
}
#nav ul li.login, #nav ul li.logout { border-left: 1pt #E7D8BD solid; }
#nav ul li a { text-decoration: none; }
#container { margin: 20pt 80pt; }
#contents {
    width: 600pt;
    float: left;
}
#sidebar {
    width: 180pt;
    padding: 5pt;
    float: left;
}
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
.prop .value textarea {
    width: 99%;
    height: 4em;
}
#snippetForm { margin-bottom: 30pt; }
.dialog { border: solid 1pt #C4A97A; }
.content { border: solid 1pt #BD767D; }
.content, .dialog, .tags {
    background-color: #fff;
    box-shadow: 3pt 3pt 3pt 3pt rgba(0,0,0,0.125);
    border-radius: 32pt / 32pt;
    padding: 16pt;
    margin: 0 5pt 10pt;
}
.tags ul {
    list-style-type: none;
}
.dialog .header {
    border-bottom: solid 1pt #C4C07A;
    border-right: solid 1pt #C4C07A;
    background-color: #E7E4B0;
}
.content .header {
    border-bottom: solid 1pt #BD767D;
    margin-bottom: 10pt;
}
.content ul.footer {
    float: right;
    list-style-type: none;
}
.content ul.footer li {
    float: left;
    border-left: 1pt solid #BD767D;
    padding: 0 5pt;
}
.content .reply_form { clear:both; }
.content .file {
    padding: 5pt;
    margin: 10pt;
    border: solid 1pt #BD767D;
}
/* NAVIGATION MENU */
/* MESSAGES AND ERRORS */
.message {
    border: 1px solid #b2d1ff;
    border-radius: 10pt / 10pt;
    color: #006dba;
    background-color: #fff;
    padding: 5pt;
    margin: 20pt;
    width: 200pt;
    overflow: hidden;
}
div.errors {
    border: 1px solid red;
    color: #cc0000;
    border-radius: 10pt / 10pt;
    background-color: #fff;
}
div.errors ul { list-style: none; }
select.errors, input.errors, textarea.errors { border: 1px solid red; }
.error { color: #c00; }
/* PAGINATION */
.paginateButtons {
    text-align: center;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span { padding: 2pt; }
/* ACTION BUTTONS */
.buttons { margin: 4pt; }
