.prop .value input#tags {
    width: 70%;
}
.content .header div:first-child {
    float: left;
}
.username > a:link {
    font-size: 120%;
    text-decoration: none;
    color: #777;
}
.username > a:hover {
    text-decoration: underline;
}
.parent > a:link {
    font-size: 100%;
    text-decoration: none;
    color: #777;
}
.parent > a:hover {
    text-decoration: underline;
}
.content .text pre, .content .file pre {
    overflow: auto;
    font-size: 86%;
}
.tags {
    clear: left;
    float: left;
}
.date-created {
    float: right;
}
.date-created > a:link {
    font-size: 90%;
    color: #777;
}
.content .help {
    margin: 5px;
}
.content .help span{
    padding: 4px;
    border: solid 1px #BD767D;
    background-color: #E3BABE;
}
.content .solved {
    margin: 5px;
}
.content .solved span{
    padding: 4px;
    border: solid 1px #C4C07A;
    background-color: #E7E5BD;
}
.content .active {
    margin: 5px;
}
.content .active span{
    padding: 4px;
    color: #fff;
    border: solid 1px #E3BABE;
    background-color: #BD767D;
}
.content .deadline {
    margin: 5px;
    color: #BD767D;
}
.content .endless{
    margin: 5px;
}
.content .endless span{
    padding: 4px;
    border: dashed 1px #C4C07A;
}
.content .file {
    padding: 6px;
    margin: 12px;
    border: solid 1px #BD767D;
}
